/* https://mdsabir07.github.io/b11-assignment1/ */

/* Defaul CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
    font-style: normal;
}

body {
    font-size: 16px;
    font-weight: 400;
    background: #F5F5F5;
    color: #0E0E0E;
    line-height: 24px;
}

a {
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.clr-primary {
    color: #006A50;
}
.bg-primary {
    background: #006A50;
}
.clr-black {
    color: #0E0E0E;
}

.clr-white {
    color: #fff;
}
.bg-white {
    background: #fff;
}
.bg-green {
    background: #C6E4D6;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.btn {
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.btn:hover {
    background: #0E0E0E !important;
    color: #fff;
}
.bordered-btn {
    border: 1px solid;
}
.section-title {
    font-size: 40px;
    margin-bottom: 32px;
}
.br-8 {
    border-radius: 8px;
}
.br-16 {
    border-radius: 16px;
}
.br-24 {
    border-radius: 24px;
}
.section-padding {
    padding: 80px 0;
}
/* End default CSS */

/* Header */
.navigation {
    padding: 24px 0;
}

.navigation h3 {
    font-size: 32px;
}
.navigation h3 a {
    opacity: 0.8;;
}
/* Hero CSS */
.hero-wrap {
    padding: 80px;
}

.hero-content {
    max-width: 622px;
}

.hero-content span {
    opacity: 0.5;
    font-size: 24px;
    font-weight: 500;
}

.hero-content h1 {
    font-size: 56px;
    margin: 16px 0 24px;
    line-height: normal;
}

/* Pillar CSS */
.pillar-boxes {
    gap: 24px;
}

.single-pillar {
    padding: 24px;
    border: 1px solid #E8E8E8;
}

.pillar-icon {
    width: 64px;
    margin-bottom: 14px;
}

.single-pillar h4 {
    font-size: 20px;
    margin-bottom: 12px;
}

/* Footer CSS */
footer.footer {
    padding: 50px;
}

.footer-content {
    max-width: 1122px;
    margin: 0 auto;
    text-align: center;
}

.footer-content h3 {
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
    font-size: 32px;
    margin-bottom: 20px;
}

.social {
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.social img {
    width: 24px;
}

/* Vision */
.vision-boxes {
    margin-block: 32px;
    gap: 24px;
}

.single-vision {
    padding: 32px;
    flex-direction: column;
}

.single-vision.bg-blue {
    background: #D5E1F5;
}

.single-vision.bg-blue .btn {
    background: #5490F5;
}

.single-vision .btn {
    margin-top: auto;
}

.single-vision h4 {
    margin-block: 20px;
    font-size: 20px;
}

.single-vision p {
    margin-bottom: 20px;
}

.single-vision.bg-yellow {
    background: #F7EBCF;
}

.single-vision.bg-yellow .btn {
    background: #FFC239;
}
/* blockquote CSS */
.blockquote {
    padding: 40px 24px;
    border: 1px solid #E8E8E8;
}

blockquote {
    background: url('/assets/imgs/quote-bg.png');
    background-repeat: no-repeat;
    padding: 25px 0 15px;
}

.blockquote h5 {
    font-size: 20px;
    font-weight: 600;
}

/* Opinion CSS */
.opinion-content {
    padding: 32px;
}

.opinion-inner {
    border: 1px solid #F1F1F1;
}

.opinion-heading, .question-list li p {
    padding: 24px;
}

.question-list li {
    border-top: 1px solid #D7D7D7;
}

.question-list li p {
    flex-grow: 1;
    border-right: 1px solid #D7D7D7;
    font-weight: 600;
}

.question-list li select {
    width: 152px;
    margin: 0 24px;
    padding: 10px 14px;
    border: 1px solid #5A635F;
    font-weight: 500;
}

.opinion-heading h5 {
    font-size: 20px;
    font-weight: 600;
}

/* News CSS */
.single-post {
    margin-top: 24px;
    padding: 48px;
    gap: 32px;
}

.post-heading {
    font-size: 32px;
}
.post-meta {
    margin-block: 12px;
}

.time-meta {
    gap: 12px;
    margin-top: 6px;
}

.excerpt {
    margin-bottom: 32px;
}

.post-item-2 {
    justify-content: space-between;
    flex-direction: row-reverse;
}

/* Donate css */
.donate-content {
    gap: 32px;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}

.donate {
    width: 1107px;
    margin: 0 auto;
    text-align: center;
}

.donate-amounts {
    width: 1071px;
    gap: 24px;
}

.donate-amounts h3 {
    width: 100%;
    padding: 40px 20px;
    border: 1px solid #E4E4E4;
    font-size: 40px;
}

.donate-content input {
    width: 1032px;
    padding: 20px 40px;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

.donate-amounts h3:hover {
    background: #C6E4D6;
}